@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html,body{
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: plum;
}

.text-center{
    text-align: center;
    
}


.mx-auto{
    margin: auto;
}

.button{
    width: 66px;
    padding: 20px;
    margin: 0 3px;
    border: 2px solid rgb(166, 20, 144);
    border-radius: 10px;
    cursor: pointer;
    transition: .5 ease;
}

.button:hover{
    background-color: rgb(247, 249, 215);
}

.flex {
    display: flex;
}

.flex-col{
    flex-direction: column;
}

.items-center{
    padding: 50px;
    align-items: center;
}

.row{
    margin: 8px 0;

}

.row input{
    width: 291px;
    font-size: 19px;
    margin: 0;
    padding: 10px 0px;
    border: 2px solid  rgb(166, 20, 144);
    border-radius: 5px;
}